<header>
    <a href="{{ app.request.server.HTTP_HOST }}/"> Home </a>
    <form style="text-align: right;" action="{{ app.request.server.HTTP_HOST }}/search.php" method="post">
        <input type="text" name="episodes" placeholder="Search">
        <button type="submit">Search</button>
    </form>
    <fieldset style="text-align: center; color: #8B0000">
    London
    <br>
    Current time:  {{ global.time }}
    <br>
    Temperature: {{ global.weather.temp }}°C
    <br>
   Wind Speed: {{ global.weather.windSpeed }} m/s
    <br>
    Description: {{ global.weather.description }}.
    </fieldset>


</header>
<hr>
